.chats-body {
    padding: 0;
}

.chat {
    background-image:url("../images/chatBg.png");
}

.chat__write {
    position: fixed;
    bottom: 50px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    padding: 0px 20px;
    border-radius: 40px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.chat_write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat__write-column input {
    padding: 10px 10px;
    width: 100%;
    border: none;
}

.chat__write-column input:focus{
    outline: none;
    font-size: 14px;
}