.nav {
    position: fixed;
    width: 100%;
    background-color: #fcfcfc;
    padding: 20px 50px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}

.nav .nav__list-link {
    position: relative;
}

.nav .nav__badge {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 10px;
    color: white;
    background-color: #dc5d46;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
}