.status-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    background-color: #f7f7f7;
}

.status-bar i {
    font-size: 14px;
}

.status-bar .status-bar__battery-level {
    margin-left: 2px;
    margin-right: 2px;
}