@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "reset.css";
@import "status-bar.css";
body{
    background-color: : white;
    padding: 10px 20px;
    color: #020202;
    font-family: "open sans";
}